body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 40px;
  background-color: tomato;
  color: wheat;
}

img {
  border-radius: 10px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 25px;
}